#connexion{
	position:fixed;
	right:-5px;
	width:260px;
	z-index:3;
	top:-5px;
	padding:5px;
	padding-top:10px;
	padding-right:10px;
	border-radius: 0 0 0 10px;
	box-shadow: -5px 5px 3px rgba(0,0,0,0.5);
	background-color: #035DBA;
}
#connexion #panel{
	background-color: #F0F0F0;
	overflow: hidden;
	width:250px;
	border-radius: 5px;
	padding:5px;
}
#connexion label{
	width:100px;
	float:left;
	color:black;
}
#connexion input{
	width:140px;
	float:right;
	color:black;
}
